/*set base font size for rem*/
html{
  font-size: 18px;
}

/*set base font*/
body{
  font-family:helvetica,sans-serif;
  color:black;
  /*background-color: gray;*/
}

/*class to use to make flex containers*/
.flex{
  display: flex;
  width: 960px;
  margin: 0 auto;
}

/*banner and content in it*/
.banner{
  background: url("../images/glassesBkg.png") no-repeat center/cover;
  height: 30rem;
  padding-top: 1rem;
}

.logoContain{
  color: #fff;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  padding: 1rem 0;
}
.logoContain span{
  display: flex;
  align-items: center;
}
.logoContain img{
  height: 1.5rem;
  padding: 0 1rem 0 2rem;
}
.menu span{
  display: inline;
  padding-right: 2rem;
}

.holder.flex{
  justify-content: flex-end;
}

.floatText{
  display: block;
  margin-top: 10rem;
  padding: 1.5rem 5rem;
  background-color: #fff;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  margin-right: -2rem;
}

/*services section*/
.services{
  justify-content: center;
}
figure{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
  height: 8rem;
  width: 5rem;
}
figcaption{
  /*display: block;*/
  /*align-self: flex-end;*/
  text-align: center;
}

figure img{
  display: block;
  height: auto;
  width: 4rem;
  /*width: 5rem;*/
}

/*business info section*/
.bizInfo{
  justify-content: center;
}
.bizInfo div{
  margin-left: 5%;
  margin-bottom: 5rem;
  width:35%;
}

h3{
  width: 10rem;
  margin-bottom: 1rem;
  color: #fff;
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
}

/*copyright footer*/
footer{
  align-items: center;
  background-color: azure;
}

footer img{
  height: 1.5rem;
  width: auto;
  padding: 4rem 1rem 4rem 4rem;
}


/*media queries*/

/*1024px originally but lowered to 950 to show on iP5*/
/*dont forget space between and and bracket*/
@media only screen and (max-width:950px){

  .banner{
    padding-top: 0rem;
    height: 22rem;
  }
  .floatText{
    margin-top: 5rem;
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
    margin-right: 2rem;
  }

}
